@model AirlineManagementSystem.Models.ModelMix

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="planeManagementPage">
         
            <form>


                <h1 style="margin-top: 5%;"> PLANE COMPANY</h1><br>
                <div style="background-color: #0009; margin-left: 30%; height: 15px; padding: 12px 20px; text-align: center; width: 40%">
                    @Html.DropDownListFor(m => m.company_table.company_id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                </div>
                <h1> PLANE MODEL</h1><br>

                <div style="background-color: #0009; margin-left: 30%; height: 15px; padding: 12px 20px; text-align: center; width: 40%">

                    @Html.DropDownListFor(m => m.model_table.model_id, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
                </div>


            </form>
            <p></p>








            <button type="submit" name="Ekle" value="Ekle" formmethod="post" formaction="Ekle">ADD</button>

            <br>
        </div>

    </body>
    <style>
      

        h1 {
            padding: 20px;
            text-align: center;
            width: 30%;
            font-size: 30px;
            margin-left: auto;
            margin-right: auto;
           margin-top:1px;
            color:black;
        }




        button {
            background-color: #f6843b;
            border: solid;
            color: black;
            padding: 15px 15px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            width: 30%;
            margin-left: 37%;
            margin-top:20px;
        }
    </style>
   
</html>
}


